.mission-2022{
    display: flex;
    padding: 5%;
}
h1{
    font-size: 65px;
    font-family: 'EB Garamond', serif;
}
.header-color{
    color: #355f83;
}
.summary{
    width: 50%;
    padding-left: 8%;
}
.summary img{
    width:60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #355f83, #6988a3  );
    color:whitesmoke;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}