.mission-2022{
    display: flex;
    margin:40px 50px 40px 40px;
    padding: 5%;
}
h1{
    font-size: 65px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.my-photo img{
    width: 40%;
    padding-right: 20%;
}