body{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.first-section{
    display: flex;
    padding: 5%;
}
h1{
    font-size: 65px;
    font-family: 'EB Garamond', serif;
}
.header-color{
    color: #355f83;
}
.header-border{
    padding-left: 2%;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(243, 182, 68), rgb(60, 60, 144));
    border-image-slice: 1; 
}
.summary{
    width: 50%;
    padding-left: 8%;
}
.summary img{
    width:60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #355f83, #6988a3  );
    color:whitesmoke;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}
.mission-banner {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
span{
   color: #355f83; 
}
.cards{
    display: flex;
    width: 100%;
}
.mission{
    background-color: #e8fcff;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 20px;
    padding: 3%;
}
.mission img{
    width: 40%;
}
.vision{
    background-color: #ffe6e6;
    margin-right: 5%;
    border-radius: 20px;
    padding: 3%;
}
.vision img{
    width: 40%;
}
.goal{
    background-color: #fff5da;
    margin-right: 10%;
    border-radius: 20px;
    padding: 3%;
}
.goal img{
    width: 40%;
}
.third-section{
    display: flex;
    max-width: 100%;
    margin-left: 5%;
    margin-right:5%;
    padding: 5%;
    background-image: url(images/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position:0% 50%;
}
.third-section img{
    width:30%;
}
.third-and-forth-header{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-documentation{
    width: 70%;
    margin-left: -80%;
    padding-top: 5%;
    text-align: justify;
}    
.second-documentation{
    width: 80%;
    padding-right: 5%;
    text-align: justify;
}
.forth-section{
    display: flex;
    width: 100%;
    margin-left: 5%;
    margin-right: 10%;
    padding-top:5%;
    padding-left: 5%;
    background-image: url(images/shape-1.png);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position:85% 120%;
}
.forth-section img{
    width:60%;
}
footer{
    background-color: #0B0D17;
    text-align: center;
}
.footer{
    font-size: 25px;
    color:ivory;
    padding-top: 2%;
}
.footer-half{
    color: #FFad5a;
}
.footer-paragraph{
    color: grey;
    padding-bottom:2%;
}